body{
    background-color: #FBFBFB;
}
.sns-icon{
    display: flex;
    justify-content: flex-end;
    margin-top: 115px;
    margin-right: 120px;
    align-items: center;
}
.sns-icon>li{
    margin-right: 11px;
}
.main-logo{
    display: flex;
    justify-content: center;
}
.main-logo>h1>img{
    width: 364px;
    height: 58px;
    margin-bottom: 35px;
    margin-top: 20px;
}
.login-icon{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 104px;
    margin-top: 16px;
}
.login-icon>li{
    margin-right: 25px;
}
.list>ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list>ul>li{
    margin-right: 32px;
    font-size: 14px;
}
.main-img>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.main-img>ul>li>a>h3{
    text-align: center;
    color: #413F3F;
    font-size: 20px;
}
.signature-text{
    font-weight: bold;
}
.circle-icon>img{
    margin: 0 auto;
    margin-top: 40px;
}
.cocodor-text{
    margin-top: 40px;
    text-align: center;
}
.cocodor-text>h4{
    margin-bottom: 15px;
    font-size: 24px;
    color: #222222;
}
.cocodor-text>p{
    font-size: 14px;
    color: #484848;
    line-height: 17px;
    margin-bottom: 50px;
}
.black{
    width: 100%;
    height: 11px;
    background-color: #222222;
}
.category-text{
    text-align: center;
    margin-top: 40px;
}
.category-text>h2{
    font-size: 56px;
    color: #222222;
    margin-bottom: 15px;
}
.category-text>p{
    font-size: 16px;
    color: #222222;
    margin-bottom: 75px;
}
.category-main{
    margin-bottom: 40px;
}
.category-main>ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.category-main>ul>li{
    width: 290px;
    height: 215px;
    background-color: #F0F0F0;
    margin-right: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
    position: relative;
}
.category-icon{
    display: flex;
}
.category-icon2{
    display: flex;
}
.category-icon2>img{
    width: 120px;
    height: 181px;
    margin-top: 20px;
    margin-left: 20px;
}
.category-icon3{
    display: flex;
}
.category-icon3>img{
    width: 145px;
    height: 166px;
    margin-top: 30px;
}
.category-icon4{
    display: flex;
}
.category-icon4>img{
    width: 172px;
    height: 169px;
    margin-top: 20px;
    margin-left: 10px;
}
.category-icon>img{
    margin-top: 15px;
    margin-left: 20px;
}
.category-icon>p{
    margin-top: 60px;
    margin-left: 10px;
    font-size: 18px;
    color: #222222;
    font-weight: bold;
}
.category-icon2>p{
    margin-top: 60px;
    margin-left: 10px;
    font-size: 18px;
    color: #222222;
    font-weight: bold;
}
.category-icon3>p{
    margin-top: 60px;
    margin-left: 10px;
    font-size: 18px;
    color: #222222;
    font-weight: bold;
}
.category-icon4>p{
    margin-top: 60px;
    margin-left: 10px;
    font-size: 18px;
    color: #222222;
    font-weight: bold;
}
.arrow-img>img{
    display: none;
}
.arrow-icon{
    width: 16px;
    height: 16px;
    margin-left: 200px;
    position: absolute;
    top: 170px;
}
.arrow-img1{
    display: none;
}
.arrow-img2{
    display: none;
}
.smell-inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.smell-inner>img{
    width: 409px;
    height: 489px;
}
.smell-inner-text{
    margin-top: 240px;
}
.smell-inner-text>h3{
    font-size: 36px;
    font-weight: bold;
    color: #222222;
}
.smell-inner-text>p{
    font-size: 16px;
    color: #484848;
    margin-top: 10px;
    line-height: 18px;
}
.smell-img>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-left: 15px;
}
.smell-img>ul>li{
    margin-right: 38px;
}
.smell-img>ul>li>a>p{
    text-align: center;
}
.interior{
    background-image: url('img/img\ \(1\)\ 1.png');
    background-size: cover;
    width: 100%;
    height: 960px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.interior-text{
    color: #F0F0F0;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 30%;
    width: 470px;
}
.interior-text>h2{
    font-size: 56px;
    margin-bottom: 15px;
}
.interior-text>p{
    text-align: right;
    font-size: 16px;
}
.interior-inner-text{
    color: #F0F0F0;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 70%;
    left: 36%;
}
.interior-inner-text>h3{
    font-size: 26px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 16px;
}
.interior-inner-text>p{
    text-align: right;
    font-size: 16px;
    line-height: 18px;
}
.circle-style>ul{
    display: flex;
    justify-content: flex-end;
}
.circle-style>ul>li{
    width: 60px;
    height: 60px;
    background-color: #222222;
    border-radius: 50%;
    position: relative;
    margin-right: 22px;
    margin-top: 880px;
}
.circle-style>ul>li>a>p{
    color: #F0F0F0;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 50px;
}
.try-main-img{
    background-image: url('img/Group\ 140.png');
    width: 701px;
    height: 567px;
    background-position: center;
    background-repeat: no-repeat;
}
.try-main-text{
    text-align: right;
}
.try-main-text>h3{
    font-size: 28px;
    color: #484848;
    margin-bottom: 10px;
}
.try-main-text>p{
    font-size: 12px;
    color: #666666;
}
.try-main-text{
    margin-top: 40px;
}
.try-main{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.try-4img{
    display: flex;
    margin-left: 54px;
}
.try-inner-img{
    width: 205px;
    height: 265px;
    background-color: #F0F0F0;
    margin-bottom: 28px;
    margin-right: 33px;
    border-radius: 16px 16px 16px 0px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.try-inner-img>img{
    margin: 0 auto;
}
.try-inner-text>h3{
    font-size: 16px;
    color: #222222;
    margin-top: 20px;
    margin-left: 20px;
}
.try-inner-text>p{
    font-size: 10px;
    color: #484848;
    line-height: 12px;
    margin-top: 10px;
    margin-left: 20px;
}
.safe-img{
    position: relative;
}
.safe-img>img{
    position: absolute;
    left: 140px;
    bottom: 20px;
}
footer{
    background-color: #F0F0F0;
}
.brand-footer{
    display: flex;
}
.brand-footer>ul{
    margin-right: 50px;
    margin-top: 80px;
}
.brand-footer>ul>li{
    font-size: 14px;
    color: #666666;
    line-height: 50px;
}
.brand-footer>ul>li>span{
    font-size: 20px;
}
.brand-footer>span{
    font-size: 20px;
    color: #666666;
    margin-top: 10px;
}
.company-footer1{
    font-size: 14px;
    color: #666666;
    line-height: 50px;
}
.company-footer2>ul{
    display: flex;
}
.company-footer2>ul>li{
    margin-right: 26px;
    font-size: 14px;
    color: #666666;
}
.company-footer3>ul{
    display: flex;
    line-height: 50px;
}
.company-footer3>ul>li{
    margin-right: 26px;
    font-size: 14px;
    color: #666666;
}
.company-footer4{
    font-size: 14px;
    color: #666666;
}
.company-footer5>ul{
    display: flex;
    line-height: 60px;
}
.company-footer5>ul>li{
    margin-right: 26px;
    font-size: 12px;
    color: #666666;
}
.footer-main{
    width: 1220px;
    margin: 0 auto;
}
@media screen and (max-width:820px) {
    .list{
        display: none;
    }
    .sns-icon{
        display: none;
    }
    .login-img{
        display: none;
    }
    .basket-icon{
        display: none;
    }
    .login-icon{
        margin-right: 8px;
        margin-top: 115px;
    }
    .interior-text{
        left: 250px;
    }
    .interior-text>p{
        text-align: center;
    }
    .interior-inner-text{
        left: 250px;
    }
    .interior-inner-text>h3{

    }
    .interior-inner-text>p{

    }
}
@media screen and (max-width:855px) {
    .arrow-img{
        position: relative;
    }
    .arrow-img>img{
        display:inline;
        position: absolute;
        transform: translate(0,-50%);
        top: 50%;
    }
}
@media screen and (max-width:730px) {
    .arrow-img1{
        display: inline;
        position: relative;
    }
    .arrow-img1>img{
        position: absolute;
        transform: translate(0,-50%);
        top: 50px;
        left:-5px;
    }
    .arrow-img2{
        display: inline;
        position: relative;
    }
    .arrow-img2>img{
        position: absolute;
        left: 70px;
        bottom:50px;
    }
}
@media screen and (max-width:620px) {
    .smell-inner-text{
        position: relative;
    }
    .smell-inner-text>h3{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 90px;
        right: 5px;
        font-size: 40px;
    }
    .smell-inner-text>p{
        display: none;
    }
}