body{
    background-color: #FBFBFB;
}
p{
    font-family: 'Nanum Gothic', sans-serif;
}
h2{
    font-family: 'Nanum Gothic', sans-serif;
}
h3{
    font-family: 'Nanum Gothic', sans-serif;
}
h4{
    font-family: 'Nanum Gothic', sans-serif;
}
.slider-box{
    display: flex;
    justify-content: center;
    margin-top: 93px;
}
.slider-box>li{
    width: 458px;
    height: 320px;
    background-color: #ffffff;
    border: 2px black solid;
    border-radius: 16px;
    margin-left: 18px;
}
.slider-box>li>a>img{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.slider-box>li>a>h3{
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}
.underline{
    width: 350px;
    height: 2px;
    background-color: #000000;
    margin: 0 auto;
    margin-top: 20px;
}
.best{
    text-align: center;
    margin-top: 16px;
    font-weight: 600;
    font-size: 20px;
}
header{
    width: 100%;
    height: 60px;
    background-color: #222222;
}
.main-header{
    display: flex;
    justify-content: space-between;
}
.sns-icon{
    display: flex;
    margin-left: 20px;
    align-items: center;
    margin-top: 20px;
}
.sns-icon>li{
    margin-right: 20px;
}
.login-icon{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
}
.login-icon>li{
    margin-left: 20px;
}
.login-icon>li>a>img{
    width: 20px;
    height: 20px;
}
.navBox {
    display: flex;
}
.iconBtn {
    width: 24px;
    cursor: pointer;
}
.menuWrap.on {
    right: 0;
}
.menuWrap {
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 400;
    width: 300px;
    height: 100%;
    padding: 50px 20px;
    box-sizing: border-box;
    transition: right 0.3s ease-in-out;
    background-color: #222222;
}
#menuBtn {
    width: 24px;
    z-index: 401;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
#dimmed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.btnRotate {
    transform: rotate(-90deg);
    transition: all 0.3s ease-in-out;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
}
.listStyle>a{
    color: #F0F0F0;
    line-height: 40px;
    font-size: 16px;
}
.main-logo>h1>img{
    margin: 0 auto;
    margin-top: 70px;
}
.list>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.list>ul>li{
    margin-right: 32px;
    font-size: 14px;
}

.buttons{
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: center;
}
.buttons>button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.radio-container{
    display: flex;
}
.round-button{
    width: 10px;
    height: 10px;
    background-color: #c1c1c1;
    border-radius: 50%;
    margin: 0 4px;
    text-indent: -9999px;
}
.cocodor-text{
    margin-top: 40px;
    text-align: center;
}
.cocodor-text>h4{
    margin-bottom: 15px;
    font-size: 24px;
    color: #222222;
    font-weight: bold;
}
.cocodor-text>p{
    font-size: 14px;
    color: #484848;
    line-height: 17px;
    margin-bottom: 50px;
}
.black{
    width: 100%;
    height: 11px;
    background-color: #222222;
}
.category-text{
    text-align: center;
    margin-top: 40px;
}
.category-text>h2{
    font-size: 56px;
    color: #222222;
    margin-bottom: 15px;
}
.category-text>p{
    font-size: 14px;
    color: #222222;
    margin-bottom: 75px;
}
.category-main{
    margin-bottom: 40px;
}
.category-main>ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.category-main>ul>li{
    width: 290px;
    height: 215px;
    background-color: #F0F0F0;
    margin-right: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
    position: relative;
}
.button{
    font-size:20px;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    border: none;
    background-color:transparent;
    left: 190px;
    bottom: 20px;
}
#drop-content p{
    width: 290px;
    height: 110px;
    display:block;
    font-size: 14px;
    background-color: #dadada;
    color: #000000;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    position: absolute;
    bottom: -1px;
}
#drop-content1 p{
    width: 290px;
    height: 110px;
    display:block;
    font-size: 14px;
    background-color: #dadada;
    color: #000000;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    position: absolute;
    bottom: -1px;
}
#drop-content2 p{
    width: 290px;
    height: 110px;
    display:block;
    font-size: 14px;
    background-color: #dadada;
    color: #000000;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    position: absolute;
    bottom: -1px;
}
#drop-content3 p{
    width: 290px;
    height: 110px;
    display:block;
    font-size: 14px;
    background-color: #dadada;
    color: #000000;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    position: absolute;
    bottom: -1px;
}
#drop-content4 p{
    width: 290px;
    height: 110px;
    display:block;
    font-size: 14px;
    background-color: #dadada;
    color: #000000;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    position: absolute;
    bottom: -1px;
}
#drop-content5 p{
    width: 290px;
    height: 110px;
    display:block;
    font-size: 14px;
    background-color: #dadada;
    color: #000000;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    position: absolute;
    bottom: -1px;
}
#drop-content6 p{
    width: 290px;
    height: 110px;
    display:block;
    font-size: 14px;
    background-color: #dadada;
    color: #000000;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    position: absolute;
    bottom: -1px;
}
#drop-content7 p{
    width: 290px;
    height: 110px;
    display:block;
    font-size: 14px;
    background-color: #dadada;
    color: #000000;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    position: absolute;
    bottom: -1px;
}
#up-content p{
    width: 290px;
    height: 110px;
    display:block;
    font-size: 14px;
    background-color: #dadada;
    color: #000000;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    position: absolute;
    bottom: -1px;
}
#up-content1 p{
    width: 290px;
    height: 110px;
    display:block;
    font-size: 14px;
    background-color: #dadada;
    color: #000000;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    position: absolute;
    bottom: -1px;
}
#up-content2 p{
    width: 290px;
    height: 110px;
    display:block;
    font-size: 14px;
    background-color: #dadada;
    color: #000000;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    position: absolute;
    bottom: -1px;
}
#up-content3 p{
    width: 290px;
    height: 110px;
    display:block;
    font-size: 14px;
    background-color: #dadada;
    color: #000000;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    position: absolute;
    bottom: -1px;
}
#up-content4 p{
    width: 290px;
    height: 110px;
    display:block;
    font-size: 14px;
    background-color: #dadada;
    color: #000000;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    position: absolute;
    bottom: -1px;
}
#up-content5 p{
    width: 290px;
    height: 110px;
    display:block;
    font-size: 14px;
    background-color: #dadada;
    color: #000000;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    position: absolute;
    bottom: -1px;
}
#up-content6 p{
    width: 290px;
    height: 110px;
    display:block;
    font-size: 14px;
    background-color: #dadada;
    color: #000000;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    position: absolute;
    bottom: -1px;
}
#up-content7 p{
    width: 290px;
    height: 110px;
    display:block;
    font-size: 14px;
    background-color: #dadada;
    color: #000000;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    position: absolute;
    bottom: -1px;
}
.category-icon{
    display: flex;
}
.category-icon2{
    display: flex;
}
.category-icon2>img{
    width: 120px;
    height: 181px;
    margin-top: 20px;
    margin-left: 20px;
}
.category-icon3{
    display: flex;
}
.category-icon3>img{
    width: 145px;
    height: 166px;
    margin-top: 30px;
}
.category-icon4{
    display: flex;
}
.category-icon4>img{
    width: 172px;
    height: 169px;
    margin-top: 20px;
    margin-left: 10px;
}
.category-icon>img{
    margin-top: 15px;
    margin-left: 20px;
}
.category-icon>p{
    margin-top: 60px;
    margin-left: 10px;
    font-size: 18px;
    color: #222222;
    font-weight: bold;
}
.category-icon2>p{
    margin-top: 60px;
    margin-left: 10px;
    font-size: 18px;
    color: #222222;
    font-weight: bold;
}
.category-icon3>p{
    margin-top: 60px;
    margin-left: 10px;
    font-size: 18px;
    color: #222222;
    font-weight: bold;
}
.category-icon4>p{
    margin-top: 60px;
    margin-left: 10px;
    font-size: 18px;
    color: #222222;
    font-weight: bold;
}
.arrow-img>img{
    display: none;
}
.arrow-img3>img{
    display: none;
}
.category-main2{
    display: none;
}
.category-main2>ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.category-main2>ul>li{
    width: 290px;
    height: 215px;
    background-color: #F0F0F0;
    margin-right: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    position: relative;
}
.category-img2{
    display: flex;
}
.category-img3{
    display: flex
}
.category-img2>img{
    width: 120px;
    height: 181px;
    margin-top: 20px;
    margin-left: 20px;
}
.category-img3>img{
    width: 157px;
    height: 177px;
    margin-top: 20px;
    margin-left: 20px;
}
.category-img2>p{
    margin-left: 20px;
    font-size: 18px;
    color: #222222;
    font-weight: bold;
    margin-top: 60px;
}
.category-img3>p{
    margin-left: 20px;
    font-size: 18px;
    color: #222222;
    font-weight: bold;
    margin-top: 60px;
}
.category-img>p{
    margin-left: 20px;
    font-size: 18px;
    color: #222222;
    font-weight: bold;
    margin-top: 60px;
}
.category-img>img{
    margin-left: 20px;
    margin-top: 20px;
}
.category-img{
    display: flex;
}
.smell-inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.smell-inner-text{
    margin-top: 240px;
}
.smell-inner-text>h3{
    font-size: 36px;
    font-weight: bold;
    color: #222222;
}
.smell-inner-text>p{
    font-size: 16px;
    color: #484848;
    margin-top: 10px;
    line-height: 20px;
}
.smell-img>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-left: 15px;
}
.smell-img>ul>li{
    margin-right: 38px;
}
.smell-img>ul>li>a>p{
    text-align: center;
}
.Woody-img{
    
}
.Fresh-img{
    margin-top: 20px;
}
.fruity-img>a>img{
    width: 116px;
    height: 88px;
    margin-top: 20px;
}
.CottonMusk-img>a>img{
    width: 110px;
    height: 98px;
    margin-bottom: 10px;
}
.Fresh-img>a>img{
    width: 86px;
    height: 78px;
}
.Woody-img>a>img{
    width: 104px;
    height: 94px;
}
.Herbal-img>a>img{
    width: 58px;
    height: 92px;
    margin-bottom: 5px;
}
.interior{
    background-image: url('img/img\ \(1\)\ 1.png');
    background-size: cover;
    width: 100%;
    height: 960px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.interior-main-text{
    color: #FBFBFB;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 35%;
    position: absolute;
    text-align: right;
}
.interior-text>h2{
    font-size: 56px;
    margin-bottom: 15px;
}
.interior-text>p{
    font-size: 16px;
    margin-bottom: 40px;
}
.interior-inner-text>h3{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 16px;
}
.interior-inner-text>p{
    font-size: 16px;
    line-height: 18px;
} 
.circle-style>ul{
    display: flex;
    justify-content: flex-end;
}
.circle-style>ul>li{
    width: 60px;
    height: 60px;
    background-color: #222222;
    border-radius: 50%;
    position: relative;
    margin-right: 22px;
    margin-top: 880px;
}
.circle-style>ul>li>a>p{
    color: #F0F0F0;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 50px;
}
.try-main-img{
    background-image: url('img/Group\ 140.png');
    width: 701px;
    height: 567px;
    background-position: center;
    background-repeat: no-repeat;
}
.try-main-text{
    text-align: right;
}
.try-main-text>h3{
    font-size: 28px;
    color: #484848;
    margin-bottom: 10px;
}
.try-main-text>p{
    font-size: 14px;
    color: #666666;
    line-height: 18px;
}
.try-main-text{
    margin-top: 40px;
}
.try-main{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.try-4img{
    display: flex;
    margin-left: 54px;
}
.try-inner-img{
    width: 205px;
    height: 265px;
    background-color: #F0F0F0;
    margin-bottom: 28px;
    margin-right: 33px;
    border-radius: 16px 16px 16px 0px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.try-inner-img>img{
    margin: 0 auto;
}
.try-inner-text>h3{
    font-size: 16px;
    color: #222222;
    margin-top: 20px;
    margin-left: 20px;
}
.try-inner-text>p{
    font-size: 12px;
    color: #484848;
    line-height: 15px;
    margin-top: 10px;
    margin-left: 20px;
}
.safe-img{
    position: relative;
}
.safe-img>img{
    position: absolute;
    left: 150px;
    bottom: 40px;
}
footer{
    background-color: #F0F0F0;
    overflow: hidden;
}
.brand-footer{
    display: flex;
}
.brand-footer>ul{
    margin-right: 50px;
    margin-top: 80px;
}
.brand-footer>ul>li{
    font-size: 14px;
    color: #666666;
    line-height: 50px;
}
.brand-footer>ul>li>span{
    font-size: 20px;
}
.brand-footer>span{
    font-size: 20px;
    color: #666666;
    margin-top: 10px;
    text-decoration: underline;
    text-underline-position: under;
}
.brand-footer>ul>li>span{
    text-decoration: underline;
    text-underline-position: under;
}
.company-footer1{
    font-size: 14px;
    color: #666666;
    line-height: 50px;
}
.company-footer2>ul{
    display: flex;
}
.company-footer2>ul>li{
    margin-right: 20px;
    font-size: 14px;
    color: #666666;
}
.company-footer3>ul{
    display: flex;
    line-height: 50px;
}
.company-footer3>ul>li{
    margin-right: 26px;
    font-size: 14px;
    color: #666666;
}
.company-footer4{
    font-size: 14px;
    color: #666666;
}
.company-footer5>ul{
    display: flex;
    line-height: 60px;
}
.company-footer5>ul>li{
    margin-right: 26px;
    font-size: 12px;
    color: #666666;
}
.footer-main{
    width: 1220px;
    margin: 0 auto;
}
@media screen and (max-width:820px) {
    .list{
        display: none;
    }
    .login-img{
        display: none;
    }
    .basket-icon{
        display: none;
    }
    .search-icon{
        display: none;
    }
    .login-icon{
        margin-right: 10px;
    }
}
@media screen and (min-width:820px) {
    .navBox{
        display: none;
    }
}
@media screen and (max-width:700px) {
    .circle-style>ul>li{
        width: 50px;
        height: 50px;
        margin-right: 12px;
    }
    .circle-style>ul>li>a>p{
        font-size: 8px;
    }
    .interior-text>p{
        font-size: 12px;
    }
    .interior-inner-text>h3{
        font-size: 18px;
    }
    .interior-inner-text>p{
        font-size: 12px;
    }
    .interior-text>h2{
        font-size: 46px;
    }
}
@media screen and (max-width:780px) {
    .category-main2{
        display: block;
    }
    .category-main{
        display: none;
    }
}
@media screen and (max-width:600px) {
    .category-img>p{
        font-size: 14px;
    }
    .category-img2>p{
        font-size: 14px;
    }
    .category-img3>p{
        font-size: 14px;
    }
    .category-img>img{
        width: 121px;
        height: 138px;
    }
    .category-img2>img{
        width: 106px;
        height: 158px;
    }
    .category-img3>img{
        width: 144px;
        height: 152px;
    }
    .category-main2>ul>li{
        width: 232px;
        height: 188px;
    }
    #up-content p{
        width: 232px;
        height: 100px;
        font-size: 12px;
    }
    #up-content1 p{
        width: 232px;
        height: 100px;
        font-size: 12px;
    }
    #up-content2 p{
        width: 232px;
        height: 100px;
        font-size: 12px;
    }
    #up-content3 p{
        width: 232px;
        height: 100px;
        font-size: 12px;
    }
    #up-content4 p{
        width: 232px;
        height: 100px;
        font-size: 12px;
    }
    #up-content5 p{
        width: 232px;
        height: 100px;
        font-size: 12px;
    }
    #up-content6 p{
        width: 232px;
        height: 100px;
        font-size: 12px;
    }
    #up-content7 p{
        width: 232px;
        height: 100px;
        font-size: 12px;
    }
}
@media screen and (max-width:630px) {
    .smell-inner-text{
        position: relative;
    }
    .smell-inner-text>h3{
        font-size: 30px;
    }
    .smell-inner-text>p{
        font-size: 12px;
        line-height: 16px;
    }
    .smell-img>ul>li{
        margin-right: 16px;
    }
    .smell-inner>a>img{
        width: 411px;
        height: 437px;
    }
    .Fresh-img{
        margin-top: 15px;
    }
    .fruity-img>a>img{
        width: 96px;
        height: 71px;
    }
    .CottonMusk-img>a>img{
        width: 80px;
        height: 73px;
    }
    .Fresh-img>a>img{
        width: 73px;
        height: 68px;
    }
    .Woody-img>a>img{
        width: 100px;
        height: 92px;
    }
    .Herbal-img>a>img{
        width: 54px;
        height: 81px;
    }
}
@media screen and (max-width:625px) {
    .smell-img>ul>li{
        margin-right: 10px;
    }
    .smell-img>ul>li>p{
        font-size: 14px;
    }
}
@media screen and (max-width:880px) {
    .try-main-img{
        display: none;
    }
    .try-inner-img{
        width: 257px;
        height: 332px;
    }
    .try-inner-img>img{
        width: 209px;
        height: 205px;
    }
    .try-inner-text>h3{
        font-size: 22px;
    }
    .try-inner-text>p{
        font-size: 16px;
        line-height: 18px;
    }
    .safe-img>img{
        left: 180px;
        bottom: 56px;
    }
}
@media screen and (max-width:650px) {
    .try-inner-img{
        width: 205px;
        height: 265px;
    }
    .try-inner-img>img{
        width: 166px;
        height: 164px;
    }
    .try-inner-text>h3{
        font-size: 16px;
    }
    .try-inner-text>p{
        font-size: 10px;
        line-height: 12px;
    }
    .safe-img>img{
        left: 140px;
        bottom: 18px;
    }
}
@media screen and (max-width:900px) {
    .category-main>ul>li{
        width: 250px;
        height: 180px;
    }
    #drop-content p{
        width: 250px;
        height: 100px;
        font-size: 12px;
        line-height: 30px;
    }
    #drop-content1 p{
        width: 250px;
        height: 100px;
        font-size: 12px;
        line-height: 30px;
    }
    #drop-content2 p{
        width: 250px;
        height: 100px;
        font-size: 12px;
        line-height: 30px;
    }
    #drop-content3 p{
        width: 250px;
        height: 100px;
        font-size: 12px;
        line-height: 30px;
    }
    #drop-content4 p{
        width: 250px;
        height: 100px;
        font-size: 12px;
        line-height: 30px;
    }
    #drop-content5 p{
        width: 250px;
        height: 100px;
        font-size: 12px;
        line-height: 30px;
    }
    #drop-content6 p{
        width: 250px;
        height: 100px;
        font-size: 12px;
        line-height: 30px;
    }
    #drop-content7 p{
        width: 250px;
        height: 100px;
        font-size: 12px;
        line-height: 30px;
    }
    .category-icon>img{
        width: 105px;
        height: 157px;
    }
    .category-icon>p{
        font-size: 14px;
        margin-left: 20px;
    }
    .category-icon2>img{
        width: 102px;
        height: 158px;
        margin-top: 20px;
        margin-left: 20px;
    }
    .category-icon2>p{
        font-size: 14px;
        margin-left: 20px;
    }
    .category-icon3>p{
        font-size: 14px;
        margin-left: 20px;
    }
    .category-icon3>img{
        width: 127px;
        height: 146px;
        margin-top: 30px;
    }
    .category-icon4>img{
        width: 154px;
        height: 152px;
        margin-top: 20px;
        margin-left: 10px;
    }
    .category-icon4>p{
        font-size: 14px;
        margin-left: 20px;
    }
    .arrow-icon{
        top: 150px;
        right: 50px;
    }
}
@media screen and (max-width:640px) {

    
}